.CourseFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CourseForm {
  margin: 25px;
}

.CourseForm > label {
  margin: 10px;
  color: #33454f;
  font-weight: bold;
}

.CourseForm > input {
  border-radius: 1px;
}

.CourseForm > button {
  margin-left: 10px;
  color: #33454f;
  width: 75px;
}

.CourseForm > button:hover {
  color: #56ccf2;
  border-color: #56ccf2;
  font-weight: bold;
  background-color: white;
}
