.CourseListHeader {
  text-align: center;
  margin: 25px;
}

.CourseListContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.CourseListContainer > p {
  margin: 2.5px;
}
